<div class="container">
    <div class="row">
       <div class="col-md-12" >
            <form ng-app="example">
                <div class="form-group" data-ng-controller="JourController as jour">
                    <label for="exampleInputJour">Choix du jour </label>
                    <input type="date" #dateInput name="dateInput" id="dateInput" class="form-control" value="2018-05-25"  (change)="getDay(dateInput.value)">
                </div>
            </form>
       </div>
       <div class="col-md-4 col-4">
            <div class="card" style="width: 18rem;">
                    <img class="NumberIcon" src="assets/img/coin.png" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">CA</h5>
                        <!-- <p class="card-text"><b>Année précedente:</b> {{CATotalpre}} euros  -->
                         <p class="card-text">   <br>  {{CATotalcur}}€
                            <br>  {{CAtotalVar}}%</p>
                    </div>
            </div>
       </div>
       <div class="col-md-4 col-4">
            <div class="card" style="width: 18rem;">
                <img class="NumberIcon" src="assets/img/client.png" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">Clients</h5>
                    <!-- <p class="card-text"><b>Année précedente:</b> {{ClientTotalpre}} Clients -->
                      <p class="card-text">  <br> {{ClientTotalcur}}
                        <br>  {{ClientTotalVar}}%</p>
                </div>
            </div>
       </div>
       <div class="col-md-4 col-4">
            <div class="card" style="width: 18rem;">
                <img class="NumberIcon" src="assets/img/basket.png" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">Paniers</h5>
                    <!-- <p class="card-text"><b>Année précedente:</b> {{PanierMoyPre}} euros -->
                      <p class="card-text">  <br> {{PanierMoyCur}}€
                        <br> {{PanierTotalVar}}%</p>
                </div>
            </div>
       </div>
    </div>
</div>      
<div class="col-md-12 charts-container" ng-app="">
        <div class="container ">
                <button (click)="displayGraph(1)" class="btn btn-primary">Graphiques</button>
                <button  (click)="displayGraph(0)" class="btn btn-primary">Données brutes</button>
            </div>
            
            <div class="col-md-12 container display graphsection" [ngClass]="{'active': graph === 1}">
                <div class="container">
                    <div class="col-md-12">
                        <div class="row">
                            <div class="col-md-6 chart-pie">
                                    <canvas id="myChart4"></canvas>
                            </div>
                            <!-- <div class="col-md-6 chart-pie">
                                    <canvas id="myChart5"></canvas>
                            </div> -->
                            <div class="col-md-6 chart-pie">
                                    <canvas id="myChart6"></canvas>
                            </div>
                            <!-- <div class="col-md-6 chart-pie">
                                    <canvas id="myChart7"></canvas>
                            </div> -->
                        </div>
                    </div>
                </div>  
                <div class="row">
                    <div class="col-md-12 d-inline-block chart-line">
                        <canvas id="myChart"></canvas>
                    </div>
                    <div class="col-md-12 d-inline-block chart-line">
                        <canvas id="myChartbar"></canvas>
                    </div>
                    <div class="col-md-12 d-inline-block chart-line">
                        <canvas id="myChart2"></canvas>
                    </div>
                    <div class="col-md-12 d-inline-block chart-line">
                        <canvas id="myChart3"></canvas>
                    </div>
                </div>
            </div>
            <div class="col-md -12 container display" [ngClass]="{'active': graph === 0}" >
                <div class="col-md-12">
                    <div class="row">
                        <div class="col-md-3 col-3">
                            <h5>horaire</h5>
                            <div class="card" style="width: 18rem;" *ngFor="let arrayDCAhoraire of arrayDCAhoraires; let i=index"> 
                                    <div class="card-body">
                                            <!-- <b>Année précedente:</b> {{arrayDCAhoraires[i][0]}} euros -->
                                        <p class="card-text horaire-p">
                                            <b>  {{arrayDCAhoraires[i][0]}}h</b>
                                    </div>
                                </div>
                        </div>
                        <div class="col-md-3 col-3">
                            <h5>CA</h5>
                            <div class="card" style="width: 18rem;" *ngFor="let arrayDCAhoraire of arrayDCAhoraires; let i=index"> 
                                <div class="card-body">
                                        <!-- <b>Année précedente:</b> {{arrayDCAhoraires[i][0]}} euros -->
                                    <p class="card-text">
                                        <br> {{arrayDCAhoraires[i][2]}}€
                                        <br> {{arrayDCAhoraires[i][3]}}%</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3 col-3">
                            <h5>Clients</h5> 
                            <div class="card" style="width: 18rem;" *ngFor="let arrayDClienthoraire of arrayDClienthoraires; let i=index"> 
                                <div class="card-body">
                                        <!-- <b>Année précedente:</b> {{arrayDClienthoraires[i][0]}} Clients -->
                                    <p class="card-text">
                                        <br> {{arrayDClienthoraires[i][2]}}
                                        <br> {{arrayDClienthoraires[i][3]}}%</p>
                                </div>
                            </div>   
                        </div>
                        <div class="col-md-3 col-3">
                            <h5>Paniers</h5>
                            <div class="card" style="width: 18rem;" *ngFor="let arrayDClienthoraire of arrayDClienthoraires; let i=index"> 
                                    <div class="card-body">
                                            <!-- <b>Année précedente:</b> {{arrayDClienthoraires[i][0]}} Clients -->
                                        <p class="card-text">
                                            <br> {{arrayDpanhoraires[i][2]}}
                                            <br> {{arrayDpanhoraires[i][3]}}%</p>
                                    </div>
                                </div>   
                        </div>
                    </div>
                </div>
            </div>
</div>